<div class="page-header">
    <img class="d-block w-100" height="200px" src="assets/img/bg1.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>About Us</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-ms-12 order-md-1">
            <p>
                Developments of human being is an unending process.There is always room for development and
                technical area is not an exception. Our Ex Honerable president Dr. A.P. J. Abdul kalam has
                given a draft vision2020 for our nation to make india a developed country. For the same,
                the institute is established in 2008 with the aim of
                providing Technical Education to the students of urban as well as rural area of the country.
                It was the demand from parents and students of this area since long. Our president
                Hon’ble Dhrupatraoji Sawle has taken the lead in this direction
                and opened the doors of professional education to the technical aspirants of this area.
            </p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="w-100 text-center">
        <h6 class="section-header">Our Vision</h6>
    </div>
    <div class="row featurette">
        <p>
            Our Vision is the ability to see even with eyes closed, to attain new pinnacles of
            success through human endeavor, along with academics, the institute will give
            importance to discipline, extra curricular as well as co-curricular activities.
        </p>
    </div>
    <hr class="featurette-divider">
    <div class="w-100 text-center">
        <h6 class="section-header">Our Mission</h6>
        <!-- <h3 class="featurette-heading underline"><b>Solar for Present and Future</b></h3> -->
    </div>
    <div class="row featurette">
        <p>
            1. Our Mission is to excel in the field of industrial training by attending the utmost
            importance to the technology while giveing equal importance to the subjectivity.
        </p>
        <p>
            2. Catering the needs in the industrial sector in the rural area and to prepare
            competent employees, imbibed with the spirit of professinalism and responsible
            citizenship in a competitive global environment.
        </p>
        <p>
            3. To this end, management and faculty commit themselves to provide technical
            education with par excellence and innovative technology.
        </p>
    </div>
</div>
