<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/bg1.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="assets/img/bg2.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="assets/img/clg name english.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </div>
        <div class="carousel-item">
            <img src="assets/img/bg4.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div> -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="welcome-div">
    <div class="container">
        <h2>
            Welcome to <strong> Rajarshi Shahu Pvt ITI, Buldana</strong>
        </h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="w-100 text-center">
            <h6 class="section-header">About Us</h6>
            <!-- <h3 class="featurette-heading underline">Who are WE?</h3> -->
        </div><br /><br />
        <div class="col-md-5 order-md-1">
            <p class="lead">
                The institute is going to start with the aim of
                providing Technical Education to the students of urban as well as rural area of the country.
                It was the demand from parents and students of this area since long.
                Our president Hon'ble Dhrupatraoji Sawle has taken the lead in this direction and opened the
                doors of professional education to the technical aspirants of this area.
            </p>
            <a class="btn btn-lg btn-primary" routerLink="/aboutus" role="button">Read More &raquo;</a>
        </div>
        <div class="col-md-7 order-md-2">
            <img width="100%" height="400px" src="assets/img/clg name english.jpg" alt="First slide">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 offset-md-2 col-md-4 card">
            <img src="assets/img/1.jpg">
            <div class="card-body">
                <h5 class="card-title">OUR INSPIRATION</h5>
    <h6 class="card-subtitle mb-2 text-muted">Rajarshi Shahu Maharaj</h6>
            </div>
        </div>
<div class="col-md-1"></div>
        <div class="col-sm-6 col-md-4 card">
            <img src="assets/img/2.jpg">
            <div class="card-body">
                <h5 class="card-title">OUR PRESIDENT</h5>
    <h6 class="card-subtitle mb-2 text-muted">Shri Dhrupatrao Sawale</h6>
            </div>
        </div>
    </div>

</div>
